.feed {
    background-color: #ffffff;
    min-height: 65vh;
    
}
 /* Hide the scrollbar */
 /* This works in modern browsers, but may not work in older browsers */
 ::-webkit-scrollbar {
     display: none;
 }

 /* Add custom scrollbar styles (optional) */
 /* This works in modern browsers, but may not work in older browsers */
 ::-webkit-scrollbar-track {
     background-color: #f1f1f1;
 }

 ::-webkit-scrollbar-thumb {
     background-color: #888;
 }
